*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width:100%;
  height: 100%;
}

#main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: grey;
  font-family: cursive;
}

#panel{
  overflow: hidden;
  width: 75%;
  height: 90%;
  border-radius: 10px;
  background-color: white;
}

#paneltop{
  padding:0px 10vh;
  padding-right: 10px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: black;
  color: white;
}

.elem{
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap:20px;
  
}

.elem h4{
  font-weight: 500;
  font-size: 15px;
}

.box{
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  color: black;
  font-size:20px;
  font-weight: 600;
}

#panelbottom{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap:10px;
  padding: 20px;
  width:100%;
  height: calc(100% - 70px);
  background-color: rgb(10, 219, 219);
}

.bubble{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 50%;
  font-weight: 500;
}

.bubble:hover{
  cursor: pointer;
  background-color: rgb(66, 64, 64);
}
